<div class="container-fluid">
    <h3>Turn #{{turn}}, player {{activePlayer}}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>B</th>
                <th>Score</th>
            </tr>
        </thead>

        <tbody>
            {{#each players as |player playerId|}}
            <tr data-playerid="{{playerId}}"
                {{#if player.active}}
                    class="info"
                {{/if}}
                >
                <td class="player-name">
                    {{player.name}}
                    {{#if player.active}}
                        <span class="badge">{{player.throwsLeft}}</span>
                    {{/if}}
                </td>
                {{#each player.targets as |target targetId|}}
                    {{#if (lookup ../../allowedTargets targetId)}}
                <td>{{targetFormat}}</td>
                    {{else}}
                <td><span class="label label-closed">{{this}}</span></td>
                    {{/if}}
                {{/each}}
                <td class="player-score">{{player.score}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
